/* This style sheet is for the 'Odin-Recipes' website 

There are several sections to aid in clairity and the selector deffinitions will flow as follows; Class, Type, ID, Universal.

NOTE: This will not only be one of my first try's at creating a .css stytling sheet, but will be my first efforts to have some sort of organization.

*/



/* CLASS Selectors */

body {
    background-color: #f6edaa;
    color: #ec5858;
    font-family: Arial, Helvetica, sans-serif;
}

ul.a {
    list-style-type: none;
    text-align: center;
}

ul.b {
    list-style-type: '🔲';
}

ul.c {
    list-style-type: '👉';
}

/* TYPE Selectors */

.title {
    text-align: center;
    font-size: 80px;
    color: #ea9444;
    font-weight: bold;
}

.descript {
    text-align: center;
    color: black;
}

.headpic {
    width: auto;
    height: 400px;
    margin: 10px auto 20px;
    display: block;
}

/* ID Selectors */

#intro {
    color: brown;

}



/* UNIVERSAL Selectors */